<template>
<div>
	<div class="block-top block-content-mini-padding">
		<textarea id="profile-tweet" name="text" v-model="text" class="form-control push-bit" rows="3" placeholder="Введите текст сообщения..."></textarea>
		<div class="clearfix">
			<button @click="postMessage" :disabled="!contentExists"  class="btn btn-sm btn-primary pull-right"><i class="fa fa-twitter"></i> Отправить</button>
		</div>
	</div>
	<ul class="media-list">
		<li class="media" v-for="message in messages">
		    <div class="media-body">
		        <span class="text-muted pull-right"><small><em>{{ message.created_at }}</em></small></span>
		        <a href=""><strong>{{ message.user_id }}</strong></a>
		        <p >{{ message.text }}</p>
		    </div>
		</li>
	</ul>
</div>
   
</template>

<script>
    export default {
    	props: ['id', 'user_id'],
        data() {
            return {
                text: '',
                messages: []
            }
        },
        computed: {
            contentExists() {
                return this.text.length > 0;
            }
        },
        methods: {
            postMessage() {
                axios.post('/chat/send', {id: this.id, message: this.text, user_id: this.user_id}).then(({data}) => {
                    this.messages.push(data);
                    this.text = '';
                });
                 
                console.log('Massages Send!');
            }
        },
        created() {
            axios.get('/chat/get/' + this.id).then(({data}) => {
                this.messages = data;
            });
            Echo.channel('chat_' + this.id).listen('MassageEvent', ({message}) => {
		        this.messages.push(message);
		    });
		    console.log('Massages Get!');
        }
    }
</script>